node_modules
npm-debug.log
.expo
.expo-shared
.git
.gitignore
.DS_Store
.tmp
.cache
android
ios
# Added for cleaner images
.pnpm-store
.yarn
pnpm-lock.yaml
package-lock.json
yarn.lock
.expo/**
web-build
dist
build
.gitattributes
.vscode
.idea
.env
.env.*
.logs
*.log
